*{
	margin: 0;
	padding: 0;
}
/******************Loading********************/

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.Loading{
	width: 200px;
	height: 200px;
	border-top: 10px solid #e74c3c;
	position: relative;
	border-radius: 50%;

	animation: load 2s linear infinite;
}

.Loading::before{
	content: '';
	position: absolute;
	left: 0;
	border-top: -10px;
	width: 200px;
	height: 200px;
	border-top: 10px solid green;
	border-radius: 50%;
	transform: rotate(120deg);

}

.Loading::after{
	content: '';
	position: absolute;
	left: 0;
	border-top: -10px;
	width: 200px;
	height: 200px;
	border-top: 10px solid blue;
	border-radius: 50%;
	transform: rotate(240deg);

}
.Loading span{
	position: absolute;
	width: 200px;
	height: 200px;
	color: black;
	text-align: center;
	line-height: 200px;

	animation: lodaingText 2s linear infinite;

}



@keyframes load{
	to{
		transform: rotate(360deg);
	}
}

@keyframes lodaingText{
	to{
		transform: rotate(-360deg);
	}
}





